node_modules
dist
*.log
.env
.env.*
.DS_Store
ABSKQmVkcm9ja0FQSUtleS13ZndnLWF0LTcxMjQ4MTQ1NzkxMTpFTmQ4alVKaHJGa0pUbGxoZ2tDSTBuWlNJbldWWGhPeHpQWHZCM1BndFM3bktJTi9FOHpzMTNoYlo1ND0=
# Derivative SQLite Index (Non-authoritative)
memory.db
memory.db-journal
memory.db-wal
memory.db-shm
